.loading-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultcard-container {
  background-image: linear-gradient(rgb(255, 255, 255), #0f65d7);
  padding-top: 130px;
  padding-bottom: 50px;
  height: 100vh;
}

.result-card {
  margin: 0 auto 15px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 700px;
  box-shadow: 0px 0px 30px 10px #0f65d7, 0px 20px 460px white;
}

.main_heading {
  background-image: linear-gradient(#00eeffcb, #0f65d7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.thankyou-text {
  margin-top: 25px;
  font-size: 20px;
  background: linear-gradient(#00eeffcb, #0f65d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote_text{
color:#F9B939;
font-size: larger;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button-container button {
  width: 300px;
  color: #0f65d7;
  background: 
    linear-gradient(white, white) padding-box,    
    linear-gradient(90deg, #00eeffcb, #0f65d7) border-box;
  border: 3px solid transparent;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
}

.gradient-text {
  background: linear-gradient(#00eeffcb, #0f65d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
}